<h1 id="huliwai-hd-">Huliwai (HD)</h1>
<p>The <strong>HD</strong> version of the <strong><em><a href="/tech/logger/">huliwai</a></em></strong> is capable of measuring <strong>temperature</strong> and <strong>pressure</strong> for over four months at <strong>eight</strong> measurements per second. It is self-contained with sensors and data logger integrated in one waterproof package.</p>
<p>Compare to the standard version, the HD version has a larger data memory and higher max. measurement rate, but no light measurement capability. Communication requires a USB-to-serial adapter as it has no infra-red communication interface. The temperature and pressure sensors are other the same.</p>
<p><a href="https://www.tablesgenerator.com/markdown_tables"></a></p>
<h2 id="specifications">Specifications</h2>
<table>
<thead>
<tr>
<th>Variable</th>
<th>Metric</th>
<th>Value</th>
<th>Unit</th>
<th>Condition</th>
<th>Note</th>
</tr>
</thead>
<tbody>
<tr>
<td>Temperature</td>
<td>Range</td>
<td>[0,40]</td>
<td>°C</td>
<td>-</td>
<td>Non-freezing.</td>
</tr>
<tr>
<td></td>
<td>Accuracy</td>
<td>+/-0.1</td>
<td>°C</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td></td>
<td>Resolution</td>
<td>16 or 24</td>
<td>bit</td>
<td>-</td>
<td>Configuration-dependent.</td>
</tr>
<tr>
<td>Pressure</td>
<td>Range</td>
<td>[0,30]</td>
<td>Bar</td>
<td>-</td>
<td>Roughly 300 meters.</td>
</tr>
<tr>
<td></td>
<td>Accuracy</td>
<td>100</td>
<td>mBar</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td></td>
<td>Resolution</td>
<td>0.5</td>
<td>mBar</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>Sampling Interval</td>
<td>-</td>
<td>{1/8, 1/4, 1/2, 1}</td>
<td>Second</td>
<td>-</td>
<td>User-configurable.</td>
</tr>
<tr>
<td>Endurance</td>
<td>-</td>
<td>4</td>
<td>Month</td>
<td>2xAA alkaline cells.</td>
<td>Battery-limited.</td>
</tr>
<tr>
<td></td>
<td>-</td>
<td>6</td>
<td>Month</td>
<td>2xC alkaline cells; 1/8s interval.</td>
<td>Memory-limited. Custom battery pack required.</td>
</tr>
</tbody>
</table>
<p>Note: Endurance tests were conducted with off-the-shelf alkaline cells (e.g. Energizer EN91 for AA). Lithium primaries such as Energizer L91 typically last ~30% longer.</p>
<h2 id="interface">Interface</h2>
<p>The logger has a serial (TTL) interface for configuration and data transfer. A USB-to-serial adapter is used to communicate with the loggers from a computer. This requires opening the housing for access to the logger circuit.</p>
<h2 id="battery">Battery</h2>
<p>The logger can be configured with 2x AA or C cells. The logger has battery holder for AA cells by default. To use C cells for the extended endurance, a custom battery pack and an alternative chassis are required.</p>
<h2 id="_more-info-coming-soon_-"><em>More info coming soon</em>...</h2>
