{% extends "layout.html" %}
{% block title %}Data Access{% endblock %}
{% block content %}
<style>
	blockquote {
		font-family: Courier New, monospace;
	}
</style>
<link href="/static/uhcm/static/lightbox2/css/lightbox.min.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header">Data Access</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<h2>Version 2 API</h2>
			<blockquote>https://grogdata.soest.hawaii.edu/data/2/<span style="color: red"><b>&lt;nodeid&gt;</b></span>/<span style="color: fuchsia"><b>&lt;variables&gt;</b></span>.json?time_col=ReceptionTime&begin=<b>&lt;start time in UNIX time&gt;</b>&end=<b>&lt;end time in UNIX time&gt;</b></blockquote>
			<h4>Examples</h4>
			<blockquote><a href="/data/2/node-008/ReceptionTime,d2w.json?time_col=ReceptionTime&begin=1506401855.0&end=1506403655.0&time_col=ReceptionTime">https://grogdata.soest.hawaii.edu/data/2/<span style="color: red"><b>node-008</b></span>/<span style="color: fuchsia"><b>ReceptionTime,d2w</b></span>.json?time_col=ReceptionTime&begin=<b>1506401855</b>&end=<b>1506403655</b></a></blockquote>
			<p><a href="/static/uhcm/static/api2_get_example.py">Fetch data</a> (Python3. Requires <a href="http://docs.python-requests.org/en/master/">requests</a>)</p>
			<p><a href="/static/uhcm/static/api2_plot_example.py">Plot data</a> (Python3. Requires <a href="http://docs.python-requests.org/en/master/">requests</a> and <a href="https://matplotlib.org/">matplotlib</a>)</p>

			<h2>Version 1 API (legacy)</h2>
			<blockquote>https://grogdata.soest.hawaii.edu/<span style="color: orange"><b>&lt;site&gt;</b></span>/data/<span style="color: red"><b>&lt;nodeid&gt;</b></span>/<span style="color: fuchsia"><b>&lt;variable&gt;</b></span>.json?begin=<b>&lt;start time in UNIX time&gt;</b>&end=<b>&lt;end time in UNIX time&gt;</b></blockquote>
			<h4>Examples</h4>
			<p>This returns <span style="color:red">node-008</span> water level data (<span style="color: fuchsia">d2w</span>) from June 22, 2017 8:26:40 AM to June 22, 2017 10:14:07 AM</p>
			<blockquote><a href="/poh/data/node-008/d2w.json?begin=1498120000&end=1498126447">https://grogdata.soest.hawaii.edu/<span style="color: orange">poh</span>/data/<span style="color: red">node-008</span>/<span style="color: fuchsia">d2w</span>.json?begin=1498120000&end=1498126447</a></blockquote>
			<p><a href="/static/uhcm/static/api1_get_example.py">Fetch data</a> (Python3. Requires <a href="http://docs.python-requests.org/en/master/">requests</a>)</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<h2>Timestamp Format</h2>
			<p>All measurements are tagged with a timestamp in <a href="https://en.wikipedia.org/wiki/Unix_time" target=_blank>UNIX time</a> format. The time when the data arrive at the database is named <em>ReceptionTime</em> (server's clock). The time when the data was measured at the sensors/loggers in the field is named <em>Timestamp</em> (sensor/logger's clock). Some field sensors do not have internal real-time clock (such as the tide gauges), so they do not have the corresponding Timestamp variable (most of them do have a monotonically increasing 1Hz ticker, however).</p>
			<p>During normal operation, the difference between ReceptionTime and Timestamp is negligable. However, when the link between field base stations and the database server is temporarily lost (WiFi drop, internet issues...), data messages are queued up at the field base stations. When network is restored, all queued messages are sent to the database at once. ReceptionTime no longer correlates with actual sample time (Timestamp) in such case (<a href="/static/uhcm/img/bad_rt_n17_air_pressure.png">example</a>).</p>
			<p>All plots on this site are plotted against ReceptionTime. For analysis, the use of Timestamp is encouraged. A handy UNIX time converter can be found <a href="https://www.epochconverter.com/" target=_blank>here</a>.</p>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<h2>Water Level Data</h2>
			<h4>Note on the "Distance to Water Surface" Variable, <em>d2w</em></h4>
			<p>The ultrasonic tide gauges are <a href="https://www.flickr.com/photos/146393683@N07/34601629761/in/dateposted-public/" target=_blank>mounted above water on fixed structure</a>, pointing downward. Water level is measured indirectly by measuring the distance from the sensor to the water surface. The unit of the variable d2w is millimeter.</p>
			<p>For the <a href="/poh/nodepage/node-009/"><b>first</b> Makaha</a>, the conversion from d2w (in <b>millimeter</b>) to water depth (in <b>meter</b>) is:</p>
			<blockquote>(50.7 + 1100 - d2w) / 1e3</blockquote>
			<p>For the <a href="/poh/nodepage/node-008/"><b>second</b> Makaha</a>:</p>
			<blockquote>(50.7 + 2180 - d2w) / 1e3</blockquote>
			<p>For <a href="/poh/nodepage/node-010/">Makai Pier</a>:</p>
			<blockquote>(6197.6 - d2w) / 1e3</blockquote>
			
			<h4>The Experimental HTTP API</h4>
			<p>You can also fetch data programmatically using the (experimental) HTTP API. Here's an example to fetch the data from Feb 18 to April 9, 2017: <a href="/poh/data/location/makaha1/depth.json?begin=1487412000&end=1491818400&max_count=10000" target=_blank>Makaha1</a>; <a href="/poh/data/location/makaha2/depth.json?begin=1487412000&end=1491818400&max_count=10000" target=_blank>Makaha2</a>.</p>
			<p>In Python with the requests library:</p>
			<blockquote>url = 'https://grogdata.soest.hawaii.edu/poh/data/location/makaha1/depth.json?begin=1487412000&end=1491818400&max_count=10000'
				<br>r = requests.get(url)
				<br>r = r.json()
			</blockquote>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-xs-12">
			<h2>Database Download</h2>
			<p>Access to the entire dataset is available as <a href="/static/uhcm/data/mysql.sql.gz">a compressed MySQL file.</a> The database file can be imported into any <a href="https://dev.mysql.com/downloads/mysql/" target=_blank>MySQL server</a> using the free <a href="https://www.mysql.com/products/workbench/" target=_blank>MySQL Workbench</a>. Once imported, analysis and data export can be done directly against the database. For instruction on how to import the MySQL file, see <a href="https://dev.mysql.com/doc/workbench/en/wb-admin-export-import-management.html" target=_blank>this</a>.</p>
		</div>
	</div>
</div>
<script src="/static/uhcm/static/lightbox2/js/lightbox.min.js" type="text/javascript"></script>
<script>
	lightbox.option({
		'resizeDuration':100,
		'fadeDuration':100,
		'wrapAround':false,
	})
</script>
{% endblock %}