{% extends "layout.html" %}
{% block title %}sandbox{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
	<div class="row">
		<div class="col-xs-12">
			<h2>sandbox...</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3><a href="/tech">technology</a></h3>
			<h3><a href="/project_info">project info</a></h3>
		</div>
	</div>

	<hr>
	
	<div class="row">
		<div class="col-xs-9">
			<p>bootstrap blockquote tag</p>
			<blockquote cite="http://quoteinvestigator.com/2010/07/11/confused/">Theory is when you know everything but nothing works. Practice is when everything works but no one knows why. In our lab, theory and practice are combined: nothing works and no one knows why.</blockquote>
			<blockquote>The SS Google has permanently docked at the Port of Three Rivers. If Mohammed won’t move to Mountain View, then Mountain View will move to Mohammed as he graduates from Carnegie Mellon University.</blockquote>
			<blockquote>Sometimes I think the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</blockquote>
			<br><br>
		</div>
		<div class="col-xs-3">
			<figure class="figure">
				<img src="http://imgs.xkcd.com/comics/compiling.png" class="figure-img img-fluid img-responsive" alt="cvf">
				<figcaption class="figure-caption">this is figcaption inside figure</figcaption>
			</figure>
		</div>
	</div>
</div>
{% endblock %}