{% extends "layout.html" %}
{% block title %}sandbox{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
	<div class="row">
		<div class="col-xs-12">
			<h2>Test/debug/demo/sandbox</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3>Meta</h3>
			<p><a href="/static/uhcm/img/sample_count.png">Sample Count (of direct real-time link, not base station local db)</a></p>
			<p><a href="/static/img/t2/">PoH Base Station Cabinet</a></p>
			<p><a href="/static/img/msb/node-019/">UHM MSB Environmentals</a></p>
		</div>
	</div>

	<div class="row">
		<div class="col-xs-12">
			<h3>Endpoint tests</h3>
			<p><a href="/poh/data/dashboard.json">poh dashboard.json</a></p>
			<p><a href="/poh/nodepage/node-004.json">poh node-004.json</a></p>
			<p><a href="/poh/data/node-004/O2Concentration.json?minutes=46080">poh node-004 O2Concentration.json</a></p>
			<br>
			<p><a href="/static/poh/node-004/AirSaturation.json">node-004 AirSaturation.json</a></p>
			<p><a href="/static/poh/node-001/Temperature.json">node-001 Temperature.json</a></p>
			<br>
			<p><a href="/poh/data/meteorological.json">meteorological.json</a></p>
			<p><a href="/poh/data/makaha/makaha1.json">makaha1.json</a></p>
			<p><a href="/poh/data/makaha/makaha2.json">makaha2.json</a></p>
			<p><a href="/poh/data/makaha/triplemakahab.json">triplemakahab.json</a></p>
			<br>
			<p><a href="/makaipier/data/node-010/d2w.json?minutes=46080">makaipier node-010 d2w.json</a></p>
		</div>
	</div>

	<!--hr>
	
	<div class="row">
		<div class="col-xs-9">
			<p>bootstrap blockquote tag</p>
			<blockquote>Airports see more sincere kisses than wedding halls. The walls of hospitals have heard more prayers than the walls of churches.</blockquote>
			<blockquote cite="http://quoteinvestigator.com/2010/07/11/confused/">Theory is when you know everything but nothing works. Practice is when everything works but no one knows why. In our lab, theory and practice are combined: nothing works and no one knows why.</blockquote>
			<blockquote>The SS Google has permanently docked at the Port of Three Rivers. If Mohammed won’t move to Mountain View, then Mountain View will move to Mohammed as he graduates from Carnegie Mellon University.</blockquote>
			<br><br>
		</div>
		<div class="col-xs-3">
			<figure class="figure">
				<img src="http://imgs.xkcd.com/comics/compiling.png" class="figure-img img-fluid img-responsive" alt="cvf">
				<figcaption class="figure-caption">this is figcaption inside figure</figcaption>
			</figure>
		</div>
	</div-->
</div>
{% endblock %}