{% extends "layout.html" %}
{% block title %}sandbox{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
	<div class="row">
		<div class="col-xs-12">
			<h2>Experimental projects / sandbox...</h2>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-12">
			<h3><a href="/project_info">project info</a></h3>
			<h3><a href="/tech">technology</a></h3>
			<h3><a href="/dev">here</a></h3>
		
			<p>what is this? link to project page</p>
			<p>a bunch of sensors out in different sites... sometimes sensors go bad... this is the system status at a glance. green means sensors is in good health (got fresh and valid data from them); amber means some readings are out of reasonable range; red means communication to sensor is lost</p>
		</div>
	</div>

	<hr>
	
	<div class="row">
		<div class="col-xs-12">
			<p>As part of an <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1538697&HistoricalAwards=false">NSF-funded project</a> at the University of Hawaii at Manoa, an array of custom data loggers are installed at the He'eia fishpond in Oahu, Hawaii. The goals of the project are:</p>
			<ul>
				<li>To study the biogeochemistry of coastal environment</li>
				<li>To evaluate the performance of low-cost <a href="https://en.wikipedia.org/wiki/Microelectromechanical_systems">MEMS sensors</a> and <a href="http://beagleboard.org/BLACK">single-board computers</a> as alternative to commercial solutions for in-situ monitoring</li>
				<li>To develop a low-maintenance sensor system suitable for K-12 STEM education</li>
				<li>To provide real-time water quality data to the staff at Paepae o He'eia</li>
			</ul>
			<p>Live data can be found <a href="iplot.html">here</a>. Technical details of the monitoring system can be found <a href="tech.html">here</a>.</p>
			<p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/Research_development.html">Dr. Brian T. Glazer</a> is the Principal Investigator of the project. For more information, visit</p>
			<ul>
				<li><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/DataLoggers/PoH/HeeiaDataHome" target="_blank">Dr. Glazer's project webpage</a></li>
				<li><a href="http://nakilohonuaoheeia.squarespace.com/" target="_blank">He'eia Coastal Ocean Observing System</a></li>
				<li><a href="http://paepaeoheeia.org/articles/remote-fishpond-monitoring/" target="_blank">Project info at Paepae o He'eia</a></li>
			</ul>
		</div>
	</div>
	
	<hr>
	
	<!--div class="row">
		<div class="col-xs-12">
			<h3><a href="/poh/widgets/panels">PoH Panels</a></h3>
			<h3><a href="/static/msb228/node-019/">UHM MSB228 node-019</a></h3>
			<h3><a href="/static/t1/">Group by variable type</a></h3>
			<h3><a href="/static/t2/">PoH Base Station Cabinet</a></h3>
			<h3><a href="/static/t4/rh.png">MSB228 Humidity</a></h3>
			<h3><a href="/static/t5/us.png">Water Depth from Ultrasonic Sensors</a></h3>
			<h3><a href="/debug/">Fresh from the oven (poh)</a></h3>
			<br>
		</div>
	</div>
	
	<hr-->

	<div class="row">
		<div class="col-xs-8">
			<blockquote cite="http://quoteinvestigator.com/2010/07/11/confused/">Theory is when you know everything but nothing works. Practice is when everything works but no one knows why. In our lab, theory and practice are combined: nothing works and no one knows why.</blockquote>
			<blockquote>The SS Google has permanently docked at the Port of Three Rivers. If Mohammed won’t move to Mountain View, then Mountain View will move to Mohammed as he graduates from Carnegie Mellon University.</blockquote>
			<blockquote>Sometimes I think the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</blockquote>
			<blockquote>Increasing longevity means more old age not more youth.</blockquote>
			<br><br>
		</div>
		<div class="col-xs-4">
			<figure class="figure">
				<img src="http://imgs.xkcd.com/comics/compiling.png" class="figure-img img-fluid" alt="cvf">
				<figcaption class="figure-caption">Also the #1 reason to get your dev better tool.</figcaption>
			</figure>
		</div>
	</div>
</div>
{% endblock %}