{% extends "layout.html" %}
{% block title %}sandbox{% endblock %}
{% block content %}
<div class="container" style="margin-top: 20px">
	<!--div class="row">
		<div class="col-xs-12">
			<h3><a href="/poh/widgets/panels">PoH Panels</a></h3>
			<h3><a href="/static/msb228/node-019/">UHM MSB228 node-019</a></h3>
			<h3><a href="/static/t1/">Group by variable type</a></h3>
			<h3><a href="/static/t2/">PoH Base Station Cabinet</a></h3>
			<h3><a href="/static/t4/rh.png">MSB228 Humidity</a></h3>
			<h3><a href="/static/t5/us.png">Water Depth from Ultrasonic Sensors</a></h3>
			<h3><a href="/debug/">Fresh from the oven (poh)</a></h3>
			<br>
		</div>
	</div>
	
	<hr-->

	<div class="row">
		<div class="col-xs-12">
			<blockquote>Increasing longevity means more old age not more youth.</blockquote>
			<blockquote>The SS Google has permanently docked at the Port of Three Rivers. If Mohammed won’t move to Mountain View, then Mountain View will move to Mohammed as he graduates from Carnegie Mellon University.</blockquote>
			<blockquote cite="http://quoteinvestigator.com/2010/07/11/confused/">Theory is when you know everything but nothing works. Practice is when everything works but no one knows why. In our lab, theory and practice are combined: nothing works and no one knows why.</blockquote>
			<blockquote>Downloads of this dating app will serve as a loneliness index this Valentine’s</blockquote>
			<blockquote>Sometimes I think the surest sign that intelligent life exists elsewhere in the universe is that none of it has tried to contact us.</blockquote>
			<br><br>
			<img src="http://imgs.xkcd.com/comics/compiling.png" alt="cvf">
		</div>
	</div>
</div>
{% endblock %}