{% extends "layout.html" %}
{% block title %}System Status{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1">
			<div class="page-header row">
				<div class="col-xs-12">
					<!--a title="Project website" href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/DataLoggers/PoH/HeeiaDataHome"><h2>Real-time In-situ Coastal Monitoring</h2></a-->
					<h2><a href="/project_info/">Real-time In-situ Coastal Monitoring</a></h2>
					<p>System status at a glance.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-xs-10 col-xs-offset-1 col-md-4 col-md-offset-1">
			<div id="dashboard_poh"><img src="/static/uhcm/static/circleball.gif"></div>
			<hr>
			<div id="dashboard_makaipier"><img src="/static/uhcm/static/circleball.gif"></div>
			<hr>
			<div id="dashboard_sf"><img src="/static/uhcm/static/circleball.gif"></div>
			<hr>
			<div id="dashboard_uhm"><img src="/static/uhcm/static/circleball.gif"></div>
		</div>
		
		<div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-0">
			<h4>About this page</h4>
			<p>This page shows the system status in real-time. Click on any row to see recent readings and plots from that node. For information about this project, click <a href="/project_info">here</a>.</p>
			<br>
			<h4>How to read the table</h4>
			<p>Each row in the table corresponds to a sensor package (called a "node"). A row turns <span class="list-group-item-danger">red</span> if there is no recent reading from that node (e.g. the node ran out of power). The row is <span class="list-group-item-warning">yellow</span> if any reading from that node is out of range (e.g. a bad sensor). The row is <span class="list-group-item-success">green</span> otherwise.</p>
		</div>
	</div>
</div>
<script src="/static/uhcm/static/jquery.timeago.js" type="text/javascript"></script>
<script src="/static/uhcm/static/dashboard.js" type="text/javascript"></script>
{% endblock %}