{% block navbar %}
<style>
body { padding-top: 0.5em; }
</style>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Coastal Monitoring</a>
    </div>

<!-- TODO: auto-generate this -->
	
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Information <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<!--li><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/DataLoggers/PoH/HeeiaDataHome" target="_blank">Project Homepage</a></li-->
			<li><a href="/project_info/">Project Info</a></li>
			<li><a href="/data_access/">Data Access</a></li>
			<li><a href="/tech/">Technology</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="https://flic.kr/s/aHskUTVDaH" target=_blank>Photo Gallery</a></li>
          </ul>
		</li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">He`eia <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <!--li><a href="#">Dashboard</a></li>
            <li role="separator" class="divider"></li-->
			<li><a href="/poh/nodepage/node-003/">CTD+O2+Turbidity (node-003)</a></li>
            <li><a href="/poh/nodepage/node-004/">O2+Depth (node-004)</a></li>
			<li><a href="/poh/nodepage/node-006/">Met. (node-006)</a></li>
			<li><a href="/poh/nodepage/node-007/">Met. (node-007)</a></li>
			<li><a href="/poh/nodepage/node-009/">Tide Gauge (node-009, "Hīhīmanu")</a></li>
			<li><a href="/poh/nodepage/node-008/">Tide Gauge (node-008, "Kahoʻokele")</a></li>
			<li><a href="/poh/nodepage/node-014/">Tide Gauge (node-014, "Wai 1")</a></li>
			<!--li><a href="/poh/nodepage/node-015/">Tide Gauge (node-015, "storm")</a></li-->
			<li><a href="/poh/nodepage/node-049/">Tide Gauge (node-049, "Hīhīmanu", cellular)</a></li>
			<li><a href="/poh/nodepage/node-051/">Tide Gauge (node-051, "Mākāhā Nui", cellular")</a></li>
			<li><a href="/poh/nodepage/node-025/">Seabird CTD (node-025)</a></li>
			<!--li role="separator" class="divider"></li>
            <li><a href="/poh/widgets/panels/">By mākāhā [experimental]</a></li-->
			<li role="separator" class="divider"></li>
			<!--li><a href="https://www.wunderground.com/weatherstation/WXDailyHistory.asp?ID=KHIKANEO20"><img src="http://banners.wunderground.com/cgi-bin/banner/ban/wxBanner?bannertype=wxstnsticker_both&weatherstationcount=KHIKANEO20" height="160" width="160" border="0" alt="Weather Underground PWS KHIKANEO20" /></a></li-->
			<li><a href="https://www.wunderground.com/personal-weather-station/dashboard?ID=KHIKANEO20"><span class="glyphicon glyphicon-tint" aria-hidden="true"></span> KHIKANEO20 @ Weather Underground</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <!--a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Kāneʻohe <span class="caret"></span></a-->
		  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coconut <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><a href="/coconut/nodepage/node-040/">Tide Gauge (node-040)</a></li>
			<li><a href="/coconut/nodepage/node-041/">Tide Gauge (node-041)</a></li>
			<li><a href="/coconut/nodepage/node-042/">Tide Gauge (node-042)</a></li>
			<li><a href="/coconut/nodepage/node-043/">Tide Gauge (node-043)</a></li>
			<li><a href="/coconut/nodepage/node-044/">Tide Gauge (node-044)</a></li>
			<li><a href="/coconut/nodepage/node-046/">Tide Gauge (node-046, cellular)</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="/coconut/nodepage/node-021/">Monty (node-021)</a></li>
			<li><a href="/coconut/nodepage/node-022/">Coco (node-022)</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="/coconut/nodepage/node-020/">Coral Tank #1 (node-020)</a></li>
          </ul>
		</li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Makai <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><a href="/makaipier/nodepage/node-010/">Tide Gauge (node-010)</a></li>
          </ul>
		</li>
		<!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Foster City <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><a href="/sf/nodepage/node-011/">Tide Gauge (node-011)</a></li>
			<li><a href="/sf/nodepage/node-012/">Tide Gauge (node-012)</a></li>
          </ul>
		</li-->
		<!--li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Coconut <span class="caret"></span></a>
          <ul class="dropdown-menu">
			<li><a href="/coconut/nodepage/node-026/">Hollie's (node-026)</a></li>
          </ul>
		</li-->
		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc. <span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="/static/uhcm/static/pohrtwind.html">He`eia Real-time Wind</a></li>
			<li><a href="/static/uhcm/static/higrtwind.html">HIG Real-time Wind</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="https://www.windyty.com/?20.972,-154.600,6" target=_blank>Windyty @ Hawaii</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="/dev">Under the hood</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="/about/">About</a></li>
          </ul>
		</li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% endblock %}