{% extends "layout.html" %}
{% block title %}Project Info{% endblock %}
{% block content %}
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header">Project Info</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-push-2">
			<h3>Coastal Monitoring</h3>
			<div class="row">
				<div class="col-sm-3 col-sm-push-9">
					<a href="{{ url_for('static',filename='loc1b.jpg') }}" data-lightbox="sat1" data-title="He'eia Fishpond Satellite View">
						<figure class="figure">
							<img src="{{ url_for('static',filename='loc1b.jpg') }}" class="figure-img img-fluid img-rounded img_responsive" alt="He'eia fishpond satellite" style="width:100%">
						</figure>
					</a>
				</div>
				<div class="col-sm-9 col-sm-pull-3">
					<p>In addition to the <a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/Research_benthic_boundary.html">recent work</a> we've done on cabled, networked, nearshore observatories, we have been <a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1538697&amp;HistoricalAwards=false">funded by NSF</a> for development and testing of custom, inexpensive, multi-parameter dataloggers with  integrated RF telemetry capability to allow for wireless streaming of data from sensor mininodes to an internet-connected base node.</p>
					<p>We have partnered with long-time collaborator, <a href="http://paepaeoheeia.org/">Paepae o He`eia</a>, to implement this wireless coastal sensor network in the He`eia ahupua`a (watershed) to assist with environmental restoration and management efforts and engage K-12 and undergrad audiences in STEM training. Note that the spaces, links, and datasets provided here are rapidly evolving and largely preliminary. Please contact <a href="mailto:glazer@hawaii.edu">Brian Glazer</a> with any project related questions, or <a href="mailto:hlio@hawaii.edu">Stanley Lio</a> with technical questions.
					</p>
				</div>
			</div>

			<hr>
			
			<h3>Wireless sensor mininodes in He`eia</h3>
			<p>Several low-cost wireless sensor nodes are deployed at He'eia Fishpond, Kaneohe Bay, Oahu. The <a href="/tech/">sensor packages</a> are collecting continuous environmental data to better understand physical conditions and biogeochemical cycles in real-time.</p>
			<p>The nodes measure a combination of meteorological conditions, such as water depth, conductivity, temperature, dissolved oxygen, turbidity, and chlorophyll. They are deployed at the following locations:
			<ul>
				<li>node-001 at Triple Makaha</li>
				<li>node-004 at Makaha 1</li>
				<!--li>node-002 is deployed at Makaha 1</li-->
				<!--li>node-003 is deployed in Kaho`okele</li-->
				<li>node-007 (a meteorological station) at the <a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/images/Heeia_Node_002.jpg" target="_blank">Hale</a> at Ocean Makaha 2</li>
				<li>node-008 and node-009 at <a href="https://www.instagram.com/p/BAbJtj_lLS8/" target="_blank">Kaho`okele</a> and Makaha 1</li>
			</ul>
			</p>
			<p>node-008 and node-009 are topside ultrasonic sensors measuring water level to corroborate submerged pressure sensors.</p>
			<p>All data are presented in near-real-time, and thus are provisional and subject to revision during quality assurance and quality control data processing. More sophisticated data analyses are currently under development. More information on He'eia Fishpond can be found <a href="http://nakilohonuaoheeia.squarespace.com/" target="_blank">here</a> and <a href="paepaeoheeia.org" target="_blank">here</a>. Full datasets for all sensors at each node are available through links at the left or by exploring the <a href="/">interactive dashboard</a>.</p>
		</div>
		
		<div class="visible-xs"><hr></div>
		
		<div class="col-md-2 col-md-pull-8">
			<div id="dashboard_poh" data-status-only="1"><img src="{{ url_for('static',filename='circleball.gif') }}"></div>
		</div>
		
		<div class="visible-xs"><hr></div>
		
		<div class="col-md-2">
			<h4>About</h4>
			<p><a href="http://www.nsf.gov/awardsearch/showAward?AWD_ID=1538697">Project Abstract</a></p>
			<p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/Lab_People.html">People</a></p>
			<p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/Research.html">Biogeochemistry</a></p>
			<p><a href="/tech/">Technology</a></p>
			<p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/DataLoggers/PoH/Photos/IMG_8144.JPG">Outreach</a></p>
			<hr>
			<h4>Data</h4>
			<p><a href="/">System Status</a></p>
			<!--p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/DataLoggers/PoH/dbDownload">Full dataset (SQLite)</a></p-->
			<p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/research/DataLoggers/PoH/base-003/www/storage/sensor_data.db">Full data set (SQLite)</a></p>
			<hr>
			<h4>How to help</h4>
			<p><a href="http://paepaeoheeia.org/volunteer/">Volunteer</a></p>
			<p><a href="http://www.soest.hawaii.edu/oceanography/glazer/Brian_T._Glazer/Opportunities.html">Donate</a></p>
			<p><a href="https://docs.google.com/a/hawaii.edu/forms/d/1efq7dS65d45ehaIAsHXPN-lSEcUifjznwar2Gu0xuTE/edit?usp=drive_web">Help provide data!</a></p>
		</div>
	</div>
</div>
<script src="{{ url_for('static',filename='dashboard.js') }}" type="text/javascript"></script>
{% endblock %}