{% extends "layout.html" %}
{% block title %}Technology{% endblock %}
{% block content %}
<link href="/static/uhcm/static/lightbox2/css/lightbox.min.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header">Technology</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-4 col-sm-push-8">
			<a href="{{ url_for('static',filename='loc1b.jpg') }}" data-lightbox="sat1" data-title="He'eia Fishpond Satellite View">
			<figure class="figure">
				<img src="{{ url_for('static',filename='loc1b.jpg') }}" class="figure-img img-fluid img-rounded img_responsive" alt="He'eia fishpond satellite" style="width:100%">
			</figure>
			</a>
			<br>
		</div>
		<div class="col-sm-8 col-sm-pull-4">
			<h2>System Overview</h2>
			<p>The He'eia fishpond is the primary test site for the real-time monitoring system, but it is also taking data from small number of sensors at other locations (called "sites"). At each site, sensor readings are transmitted to an internet-connected computer (a "base station") via low-power radio transceivers. The base station then relays the data to the UH server for storage and visualization.</p>
			
			<p>At the He'eia fishpond, data loggers are installed at each makaha, as shown in the satellite photo. Data collected at the base station are also logged locally. The base station uploads received data to the central server at the University of Hawaii using both UDP (real-time) and rsync (~hourly). Data are then made publicly available on the <a href="/">project website</a>.</p>

			<h2>Implementation</h2>
			<h3>Hardware</h3>
			<p>Research-grade O2 optode / pH sensor / CTD, as well as a multitude of low-cost commercial-off-the-shelf sensors are employed. Beaglebone Black single-board computers (SBCs) aided by Arduinos control and query the sensors for readings according to a set schedule. Sensor readings are transmitted via XBee Pro 900HP wireless transceivers.</p>
			
			<h3>Software</h3>
			<p>The primary tasks for the Python programs on the SBCs are:
				<ul>
					<li>Regularly read the sensors, store, and broadcast the collected data</li>
					<li>Gracefully handle malfunctioning / decommissioned sensor</li>
					<li>Respond to base station query for unscheduled sampling</li>
				</ul>
			</p>
			
			<br>
			<h4>Device Locations:</h4>
			<p>
				<figure class="figure">
					<a href="/static/uhcm/img/df1.png"><img src="/static/uhcm/img/df1.png" class="figure-img img-fluid img-rounded img_responsive" alt="Dataflow Diagram" style="width:100%"></a>
				</figure>
			</p>
			
			<p>Collected data are stored locally on each node as well as transmitted to nearby base station. Base stations store and relay collected data to a UH server for processing and presentation.</p>
			<p>Software tools:
				<ul>
					<li>I/O and communication: Python, C, ZeroMQ</li>
					<li>Data storage: MySQL (primary), SQLite (backup)</li>
					<li>Analysis and visualization: matplotlib, Highcharts, MATLAB</li>
					<li>Web: Flask (Python), Websocket...</li>
				</ul>
			</p>
			
			<br>
			<h4>Data Flow (between processes):</h4>
			<p>
				<figure class="figure">
					<a href="/static/uhcm/img/proc.png"><img src="/static/uhcm/img/proc.png" class="figure-img img-fluid img-rounded img_responsive" alt="Dataflow Diagram" style="width:100%"></a>
				</figure>
			</p>

			
			<h3>Power</h3>
			<p>Most nodes are powered by solar panels with battery backup. Depending on power consumption, batteries from portable USB battery pack to sealed lead acid car battery are used. Some low-power nodes are powered by primary cells.</p>
			
			<!--h4>Custom Low-cost Sensors</h4>
			<p><a href="puck.JPG" data-lightbox="hack1"><img src="puck.JPG" alt="copper epoxy" class="img_responsive" style="width:20%"></a></p>
			<p>anti-biofouling + waterproofing</p-->
		</div>
	</div>

	<hr>
	
	<!--div class="row">
		<div class="col-xs-12">
			<h3>Bench Tests</h3>
			<p>characterize and compare low-cost MEMS sensors: accuracy, resolution/precision, noise/variance, drift/bias/stability, ease of deployment (mechanical: waterproofing)</p>
			<div id="tester"></div>
			<br><br>
		</div>
	</div-->
</div>
<script src="/static/uhcm/static/lightbox2/js/lightbox.min.js" type="text/javascript"></script>
<script>
	lightbox.option({
		'resizeDuration':100,
		'fadeDuration':100,
		'wrapAround':false,
	})
</script>
{% endblock %}