{% extends "layout.html" %}
{% block title %}Technology{% endblock %}
{% block content %}
<link href="/static/uhcm/static/lightbox2/css/lightbox.min.css" rel="stylesheet" type="text/css">
<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h1 class="page-header" id="implementation">Implementation</h1>
		</div>
	</div>
	
	<style>
		.textwrap {
			float: right;
			margin: 1em;
			max-width: 20%
		}
	</style>

	<div class="row">
		<div class="col-sm-12">
		
		

<p>A broad overview of the technology involved in the SMART Coastlines real-time monitoring system.</p>
<h2 id="system-overview">System Overview</h2>
<p>The real-time monitor system was first tested at the He`eia fishpond. It has since expanded to several other sites on and off the Hawaiian islands.</p>
<p>Sites like the He`eia fishpond has internet, so most instruments on the site report to the server via internet gateway onsite. Other reach the server either through embedded cellular modems or through industrial LTE gateways.</p>
<p>Data are accepted through AMQP, MQTT, and HTTP POST requests. Data are served publicly through HTTP and WebSocket.</p>
<p>Most sensors are configured to take measurements at predefined intervals, but there are a few exception which use a query-response scheme.</p>
<h2 id="instrument-design">Instrument Design</h2>
<p>Several early prototypes were powered by the <a href="https://beagleboard.org/black">Beaglebone Black</a> single-board computer, with each computer controlling multiple sensors. More recent designs are controlled by custom low-power 8-bit microcontrollers, with each sensor having its own dedicated solar panel, battery backup, and controller. All sensors are solar-powered with battery backup.</p>
<p>Mechanical parts consist of a mix of custom 3D-printed parts and off-the-shelf plumbing supplies. Software used include Python, C, and SQL. Electronics are mostly fabricated in-house.</p>
<h2 id="gateway-to-the-internet">Gateway to the Internet</h2>
<p>The internet gateways are based on the <a href="https://beagleboard.org/black">Beaglebone Black</a> or the <a href="https://www.raspberrypi.org/">Raspberry Pi</a> single-board computers with custom support circuitry. They relay the instruments&#39; broadcast to the server. They hold the received data in their buffer during internet outage (up to ~7 days).</p>
<p>Most of the tide gauges have their own embedded cellular (2G/3G/LTE) modems, so they submit data directly through the internet. For more details, see their own dedicated <a href="/tech/tidegauge">page</a>.</p>

		
		
		
		</div>
	</div>
</div>
<script src="/static/uhcm/static/lightbox2/js/lightbox.min.js" type="text/javascript"></script>
<script>
	lightbox.option({
		'resizeDuration':100,
		'fadeDuration':100,
		'wrapAround':false,
	})
</script>
{% endblock %}