bcrypt==3.2.0
cffi==1.14.5
click==8.0.1
dataclasses==0.8
Flask==2.0.0
Flask-Cors==3.0.10
importlib-metadata==4.0.1
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
mysqlclient==2.0.3
pika==1.2.0
pkg-resources==0.0.0
pycparser==2.20
redis==4.4.4
six==1.16.0
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.4.1
